.ant-card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

/* 마이페이지 탭 */

.ant-tabs {
}

.ant-tabs-tab {
  padding: 20px;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
}

.ant-tabs-tab:hover {
  color: #000;
}

.ant-tabs-tab.ant-tabs-tab-active {
  background-color: #1890ff;
  border: 1px solid #1890ff;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}

.ant-tabs-ink-bar {
  display: none;
}
